!!! 5
%html
    %head
        %link{rel: "stylesheet", href: "style.css"}
    %body
        %header
            %img.logo{alt: "logo", src: "3d1cb46b-c73f-44c9-a49f-f830531c72dd.png"}
        %section.section_1
            %h1.header
                VR headsets
            %p.header_text
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            %button.header_btn
                READ MORE
            %img.header_img{alt: "header_img", src: "esff-min.jpg"}
        %section.section_2
            %h2.section_2_header
                VR's Surprising Benefits
            %p.section_2_text
                Sample text. Click to select the text box. Click again or double click to start editing the text.
            %div.card
                %div.card_circle
                %h3.card_header
                    MENTAL HEALTH
                %p.card_text
                    Sample text. Click to select the text box. Click again or double click to start editing the text. Excepteur sint occaecat cupidatat non proident.
                %button.card_btn
                    more
            %div.card
                %div.card_circle
                %h3.card_header
                    REALISTIC EXPERIENCE
                %p.card_text
                    Sample text. Click to select the text box. Click again or double click to start editing the text. Excepteur sint occaecat cupidatat non proident.
                %button.card_btn
                    more
            %div.card
                %div.card_circle
                %h3.card_header
                    RELAX
                %p.card_text
                    Sample text. Click to select the text box. Click again or double click to start editing the text. Excepteur sint occaecat cupidatat non proident.
                %button.card_btn
                    more
        %section.section_3
            %h2.section_3_header
                VR's Surprising Benefits
            %p.section_3_text
                Sample text. Click to select the text box. Click again or double click to start editing the text.
            %div.section_3_card
                %span.big_num
                    1
                %p.section_3_card_text
                    To reap the benefits of virtual reality in education, it is important for students to use VR equipment safely. VR users often spin around or stride blindly, ignoring their physical surroundings. A misstep could lead to injury. Educators should ensure their classrooms` physical environments.
            %div.section_3_card
                %span.big_num
                    2
                %p.section_3_card_text
                    The benefits of virtual reality in education are embraced by many educators, but some are still reluctant to use it in their classrooms. Reasons range from high costs to pushback from school administrators. Others see the value of both VR and AR as entertainment, but not as effective teaching tools in the classroom.
            %div.section_3_card
                %span.big_num
                    3
                %p.section_3_card_text
                    Before looking into some of the benefits of virtual reality in education, let’s define what virtual reality is and how it differs from augmented reality. AR is used on a smart device to project a layer of educational text and lesson-appropriate content on top of a user`s actual surroundings